.info_active {
    font-variant: small-caps;
    color: blue;
    background: yellow; 
}


.hidden {
    display: none;
}


.output1 {
    width: 60%;
    float: left; 
}


.output2 {
    float: left; 
}

